#Join
{
    margin-top: 100px;
}

select, option, input{
    width:60%;
    background-color: lightblue !important;
    
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    color: black !important;
}

.terms
{
    padding: 0;
    width: auto;
    color: #1d325e;
}


 td, th
{
    padding: 10px;
    vertical-align: middle;
}


